# This .env example file sets the environment variable COMPOSE_FILE for
# different common situations (e.g. local dev mode, mirror mode, live mode).
# Copy this file to .env
# > cp .env.example .env
# but make sure to never commit .env itself to the remote.

# [LOCAL]
# Local development mode, enables docker-compose.development.yml, the default
# mode you should be using when working locally, unless you want to use the Makefile
COMPOSE_FILE=docker-compose.yml:docker-compose.development.yml:docker-compose.override.yml

# [LIVE]
# Server live mode, the "normal" way to deploy Kaleidos on a server, this is the same
# as leaving .env empty/non-existant as by default the `docker compose` command will
# use docker-compose.yml:docker-compose.override.yml.
#COMPOSE_FILE=docker-compose.yml:docker-compose.override.yml

# [MIRROR]
# Server mirror mode. Use this on the mirrors (kal-loeier, kal-mammoet) to sync deltas
# from the live server.
#COMPOSE_FILE=docker-compose.yml:docker-compose.mirror.yml:docker-compose.mirror.override.yml