# Virtuoso files /data/db
data/db
config/db/virtuoso*ini

# Files
data/files/*

# Search data
data/elasticsearch/*
config/search/*.store

# All data (overrides many of above rules ...)
data/*

# Docker env
.env
docker-compose.override.yml

# Migrations
config/migrations/*
!config/migrations/[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]-*
*sensitive*

# Test env
testdata/*
development-data/files/*

node_modules
__pycache__

*~
__MACOSX
.idea/
