# Virtuoso files /data/db
data/db
testdata/*
__MACOSX
config/db/virtuoso*ini
data/files/*
data/elasticsearch/*
development-data/files/*
data/*
config/search/*.store
.idea/

.env
docker-compose.override.yml

# Migrations
config/migrations/*
!config/migrations/[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]-*
*sensitive*
node_modules
__pycache__

*~
