version: '3.4'
x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"
x-extended-logging:
  &extended-logging
  driver: "json-file"
  options:
    max-size: "50m"
    max-file: "20"
services:
  frontend:
    image: kanselarij/frontend-kaleidos:1.3.1
    links:
      - identifier:backend
    logging: *default-logging
    restart: always
  identifier:
    image: semtech/mu-identifier:1.8.0
    logging: *default-logging
    restart: always
  dispatcher:
    image: semtech/mu-dispatcher:2.0.0-beta.1
    volumes:
      - ./config/dispatcher:/config
    logging: *default-logging
    restart: always
  migrations-service:
    image: semtech/mu-migrations-service:0.5.1
    volumes:
      - ./config/migrations:/data/migrations
    environment:
      MU_SPARQL_ENDPOINT: "http://triplestore:8890/sparql"
    logging: *default-logging
    restart: always
  database:
    image: semtech/mu-authorization:0.6.0-beta.4
    environment:
      MU_SPARQL_ENDPOINT: "http://triplestore:8890/sparql"
      # LOG_OUTGOING_SPARQL_QUERIES: "true"
      # INSPECT_OUTGOING_SPARQL_QUERIES: "false"
      # LOG_INCOMING_SPARQL_QUERIES: "true"
      # INSPECT_INCOMING_SPARQL_QUERIES: "false"
      # LOG_ACCESS_RIGHTS: "true"
      # INSPECT_ACCESS_RIGHTS_PROCESSING: "true"
      LOG_DELTA_MESSAGES: "true"
      # LOG_DELTA_CLIENT_COMMUNICATION: "true"
      # LOG_TEMPLATE_MATCHER_PERFORMANCE: "false"
      DATABASE_COMPATIBILITY: "Virtuoso"
      DATABASE_OVERLOAD_RECOVERY: "on"
      #LOG_DATABASE_OVERLOAD_TICK: "on"
    volumes:
      - ./config/authorization:/config
    logging: *extended-logging
    restart: always
  triplestore:
    image: tenforce/virtuoso:1.3.2-virtuoso7.2.5.1
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "http://mu.semte.ch/application"
    volumes:
      - ./data/db:/data
      - ./config/db/virtuoso.ini:/data/virtuoso.ini
      - ./config/db/:/opt/virtuoso-scripts
    logging: *default-logging
    restart: always
  musearch:
   image: semtech/mu-search:0.6.0-beta.7
   volumes:
      - ./config/search:/config
      - ./data/files:/data
   environment:
     NUMBER_OF_THREADS: 4
     JRUBY_OPTIONS: "-J-Xmx32g" # overwrite for development
     LOG_LEVEL: "info"
   logging: *default-logging
   restart: always
  elasticsearch:
    image: semtech/mu-search-elastic-backend:1.0.0
    environment:
      - cluster.initial_master_nodes=elasticsearch
      - node.name=elasticsearch
    volumes:
      - ./data/elasticsearch/:/usr/share/elasticsearch/data
    logging: *default-logging
    restart: always
  deltanotifier:
    image: semtech/mu-delta-notifier:0.1.0
    volumes:
        - ./config/delta:/config
    logging: *default-logging
    restart: always
  resource:
    image: semtech/mu-cl-resources:1.19.0
    environment:
      CACHE_CLEAR_PATH: "http://cache/.mu/clear-keys"
    volumes:
      - ./config/resources:/config
    logging: *extended-logging
    restart: always
  file:
    image: semtech/mu-file-service:3.1.1
    volumes:
      - ./data/files:/share
    logging: *default-logging
    restart: always
  # range-file:
  #   image: mikidi/js-file-service:latest
  #   volumes:
  #     - ./data/files:/share
  #   logging: *default-logging
  #   restart: always
  # document-conversion:
  #   image: kanselarij/document-conversion-service:latest
  #   volumes:
  #     - ./data/files:/share
  #   logging: *default-logging
  #   restart: always
  session-number-service:
    image: kanselarij/session-number-service:1.0.1
    logging: *default-logging
    restart: always
  agenda-sort-service:
    image: kanselarij/agenda-sort-service:1.1.0
    logging: *default-logging
    restart: always
  custom-subcases-service:
    image: kanselarij/custom-subcases-service:1.0.0
    logging: *default-logging
    restart: always
  agenda-approve-service:
    image: kanselarij/agenda-approve-service:1.0.4
    logging: *default-logging
    restart: always
  mocklogin:
    image: kanselarij/mock-login-service:1.0.0
    volumes:
      - ./config/mocklogin:/config
    logging: *default-logging
  login:
    image: kanselarij/acmidm-login-service:1.1.1
    environment:
      MU_APPLICATION_AUTH_DISCOVERY_URL: "https://authenticatie-ti.vlaanderen.be/op"
      MU_APPLICATION_AUTH_CLIENT_ID: "b1c78c1e-3c88-44f4-90fa-bebc5c5dc28d"
      MU_APPLICATION_AUTH_REDIRECT_URI: "https://kaleidos-dev.vlaanderen.be/authorization/callback"
      MU_APPLICATION_AUTH_CLIENT_SECRET: "THIS IS OUR SECRET"
      MU_APPLICATION_AUTH_ROLE_CLAIM: "dkb_kaleidos_rol_3d"
      MU_APPLICATION_AUTH_USERID_CLAIM: "vo_id"
      DEBUG_LOG_TOKENSETS: "true"
      LOG_SINK_URL: "http://sink"
      MU_APPLICATION_RESOURCE_BASE_URI: "http://kanselarij.vo.data.gift/"
      MU_APPLICATION_AUTH_DEFAULT_GROUP_URI: "http://data.kanselarij.vlaanderen.be/id/group/user"
      REQUEST_TIMEOUT: 5000
    logging: *default-logging
    restart: always
  newsletter-service:
    image: kanselarij/newsletter-service:1.0.8
    logging: *default-logging
    restart: always
  user-management-service:
    image: kanselarij/user-management-service:1.0.1
    environment:
      MU_APPLICATION_RESOURCE_BASE_URI: "http://kanselarij.vo.data.gift/"
    logging: *default-logging
    restart: always
  minister-jurisdiction-service:
    image: kanselarij/minister-jurisdiction-service:1.0.0
    logging: *default-logging
    restart: always
  yggdrasil:
    image: kanselarij/yggdrasil:1.1.1
    environment:
      DIRECT_ENDPOINT: "http://triplestore:8890/sparql"
      RELOAD_ALL_DATA_ON_INIT: "false"
    logging: *default-logging
    restart: always
  cache:
    image: semtech/mu-cache:2.0.1
    links:
      - resource:backend
    logging: *default-logging
    restart: always
  sink:
    image: lblod/sink-service:1.0.0
    logging: *default-logging
    restart: always
  file-bundling-service:
    image: kanselarij/file-bundling-service:2.0.1
    volumes:
      - ./data/files:/share
    logging: *default-logging
    restart: always
  document-grouping-service:
    image: kanselarij/document-grouping-service:2.0.0
    logging: *default-logging
    restart: always
  database-healthcheck:
    image: kanselarij/database-healthcheck:1.0.1
    logging: *default-logging
    restart: always
